<h4> Quote Information </h4>

<div>
    Quote ID: <%= quote.quoteId %>
</div>
<br>

<div>
    Quote Value: <%= quote.quoteValue %>
</div>
<br>

<div>
    Quote Date: <%= moment(quote.quoteDate).format('YYYY-MM-DD') %>
</div>
<br>

<div>
    Insurance Type: <%= quote.insuranceType %>
</div>
<br>

<div>
    Created At: <%= moment(quote.createdAt).fromNow() %>
</div>
<br>

<div>
    Updated At: <%= moment(quote.updatedAt).fromNow() %>
</div>

    <br>
    <hr>
    <br>

    <div class="car"> 
        <div>Car Plate ID: <%= quote.carRef.plateId %></div> <br>
        <div>Model: <%= quote.carRef.model %></div> <br>
        <div>Make: <%= quote.carRef.make %></div> <br>
    </div>
